html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "KaiTi", "STKaiti", auto;
}

:root {
  --header-h: 8rem;
  --header-color: #d7e1e1;
}

html[dark] {
  color: white;
  --header-color: #333333;
}


.header {
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100vw;
  height: var(--header-h);
  position: absolute;
  z-index: 9999;
  background: linear-gradient(to bottom, var(--header-color) 0%, rgba(255, 255, 255, 0) 100%);
}

.header-right {
  display: flex;
}

.header-btn {
  --m-button-height: 2.4rem;
  --m-cursor-auto: var(--m-cursor-pointer);
  font-size: 1.2rem;
  line-height: 1.2rem !important;
  margin-left: 2rem;
}

.selector {
  display: flex;
  margin-right: 4rem;
}

html[dark] .m-input-inner {
  color: white;

  &::placeholder {
    color: #C9CFC1;
  }
}

.selector-sort {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.header-placeholder {
  height: var(--header-h);
  width: 100vw;
}

.solar-switcher {
  font-size: 1.8rem;
  margin-right: 4rem;
}

.full-screen {
  --m-rp-w: 100vw;
  --m-rp-h: 100vh;
}

.dark-mode {
  --dark-mode-h: 2.2rem !important;
  --dark-mode-w: 2.2rem !important;
}

.color-list {
  height: 100vh;
  overflow-y: auto;
}

.bottom-placeholder {
  height: 4rem;
  width: 100vw;
}

.colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-items: center;
  align-items: center;

  .color-item {
    margin-bottom: 0.8rem;

    &:hover {
      animation: shake 0.3s;
      animation-iteration-count: 1;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
